@import '../bootstrap/scss/bootstrap';
@import 'variables';
@import 'mixins';
@import 'reset';

@include scrollbars(13px, $primaryColor, #FFF);

body {
  background: $lightBg;
}

.header {
  background: #FFF;
  border-bottom: 1px solid #EEF1F6;
}

.logo {
  img {
    height: 62px;
  }
}

.container {
  max-width: 1030px !important;
}

.checkout-container {
  border: 1px solid #EEEFEF;
}

.block {
  padding: 50px;
  border-bottom: 2px solid #F3F3F3;
  &.border-left {
    border-left: 1px solid #EEEFEF !important;
  }
}

.details-block {
  @media (min-width: 575px) {
    flex: 0 0 630px;
    max-width: 630px;
  }

  .form-group {
    margin-bottom: 1.5rem;
    label {
      color: #7E7E7E;
      line-height: 21px;
      font: {
        size: 14px;
        weight: 500;
      }
    }
    .form-control {
      border-color: #E9E9E9;
      height: 50px;
      border-radius: 6px;
      padding: 0 17px;
      color: #7E7E7E;
      font-family: "Montserrat";
      font-size: 14px;
      &::placeholder {
        color: #b3b3b3;
        opacity: 1;
      }
      
      &:-ms-input-placeholder {
        color: #b3b3b3;
      }
      
      &::-ms-input-placeholder {
        color: #b3b3b3;
      }
    }
  }

  .custom-control {
    line-height: 26px;
    border-top: 1px solid #F4F4F4;
    padding: 20px 20px 20px 30px;
    .custom-control-label {
      &::before {
        border: #E1E1E1 solid 2px;
        border-radius: 4px;
        width: 18px;
        height: 18px;
      }
      &::after {
        top: .3rem;
        left: -1.4rem;
      }
      color: #7E7E7E;
      font: {
        size: 13px;
        weight: 500;
      }
    }
    input {
      left: .44rem;
      top: 1.4rem;
    }
    input:focus {
      border: 0;
    }
    .custom-control-input:checked~.custom-control-label::before {
      color: #fff;
      border-color: $primaryColor;
      background-color: $primaryColor;
    }
  }

  input:focus + label::before {
    outline: none;
    outline: 0px !important;
    -webkit-appearance:none !important;
  
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .order-summary-table {
    border: 1px solid #F4F4F4;
    border-radius: 8px;
    overflow: hidden;
    .thead-light {
      th {
        color: #7E7E7E;
        background-color: #F8F8F8;
        border: none;
        font: {
          weight: 600;
          size: 13px;
        }
      }
    }
    td {
      color: #5d5b6b;
      font: {
        weight: 300;
        size: 13px;
      }
    }
    td, th {
      border-color: #F4F4F4;
      padding: 1.2rem 1.5rem;
    }
    .total td {
      color: #252430;
      font-weight: 600;
    }
  }

  .btn-primary {
    color: #fff;
    background-color: $primaryColor;
    border-color: $primaryColor;
    height: 50px;
    border-radius: 8px;
  }

  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c73025;
    border-color: #c73025;
  }
  .btn-primary:hover {
      color: #fff;
      background-color: $primaryColor;
      border-color: $primaryColor;
  }
}


.offer-details-block {
  border-bottom: 0;
  @media (min-width: 575px) {
    flex: 0 0 370px;
    max-width: 370px;
  }
}


.title {
  font: {
    weight: 600;
    size: 18px;
  }
}

.offer-details {
  p {
    color: #7E7E7E;
    font: {
      size: 14px;
      weight: 500;
    }
    line-height: 22px;
  }
  .features-list {
    .list-item {
      display: -webkit-box;
      &::before {
        content: '';
        display: flex;
        width: 7px;
        height: 7px;
        background: $primaryColor;
        border-radius: 100px;
        margin-top: 6px;
        margin-right: 13px;
      }
      span {
        color: #989898;
        font: {
          size: 13px;
          weight: 300;
        }
        line-height: 21px;
      }
    }
  }
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  .footer-info {
    border-top: 1px solid #EEF1F6;
    span {
      color: #282828;
      font: {
        size: 15px;
        weight: 300;
      }
      line-height: 23px;
    }
  }
}