@import '../bootstrap/scss/bootstrap';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'reset';

// @include scrollbars(13px, $primaryColor, #FFF);

body {
  background: $lightBg;
}

.header {
  background: #FFF;
  border-bottom: 1px solid #EEF1F6;
}

.logo {
  img {
    height: 62px;
  }
}

.container {
  max-width: 1030px !important;
  &.container-smaller {
    max-width: 900px !important;
  }
}

.checkout-container {
  border: 1px solid #EEEFEF;
}

.block {
  padding: 50px;
  border-bottom: 2px solid #F3F3F3;
  &.border-left {
    border-left: 1px solid #EEEFEF !important;
  }
}

.schedule-block .block {
  border-bottom: 1px solid #f3f3f3;
}

.main-block {
  @include media-breakpoint-up(xl) {
    flex: 0 0 628px;
    max-width: 628px;
  }
}

.block-fluid {
  @include media-breakpoint-up(xl) {
    flex: 0 0 100%;
    max-width: 100%;
    .block {
      padding: 70px 100px;
    }
  }
}

.form-group {
  margin-bottom: 1.5rem;
  label {
    color: #7E7E7E;
    line-height: 21px;
    font: {
      size: 14px;
      weight: 500;
    }
  }
  textarea {
    min-height: 130px;
  }
  .form-control {
    border-color: #E9E9E9;
    height: 50px;
    border-radius: 6px;
    padding: 0 17px;
    color: #7E7E7E;
    font-family: "Montserrat";
    font-size: 14px;
    &::placeholder {
      color: #b3b3b3;
      opacity: 1;
    }
    
    &:-ms-input-placeholder {
      color: #b3b3b3;
    }
    
    &::-ms-input-placeholder {
      color: #b3b3b3;
    }
  }
}

.custom-control {
  line-height: 26px;
  border-top: 1px solid #F4F4F4;
  padding: 20px 20px 20px 30px;
  .custom-control-label {
    &::before {
      border: #E1E1E1 solid 2px;
      border-radius: 4px;
      width: 18px;
      height: 18px;
    }
    &::after {
      top: .3rem;
      left: -1.4rem;
    }
    color: #7E7E7E;
    font: {
      size: 13px;
      weight: 500;
    }
  }
  input {
    left: .44rem;
    top: 1.4rem;
  }
  input:focus {
    border: 0;
  }
  .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $primaryColor;
    background-color: $primaryColor;
  }
}

input:focus + label::before {
  outline: none;
  outline: 0px !important;
  -webkit-appearance:none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.order-summary-table {
  border: 1px solid #F4F4F4;
  border-radius: 8px;
  .thead-light {
    th {
      color: #7E7E7E;
      background-color: #F8F8F8;
      border: none;
      font: {
        weight: 600;
        size: 13px;
      }
    }
  }
  td {
    color: #5d5b6b;
    font: {
      weight: 300;
      size: 13px;
    }
  }
  td, th {
    border-color: #F4F4F4;
    padding: 1.2rem 1.5rem;
  }
  .total td {
    color: #252430;
    font-weight: 600;
  }
}

.btn-primary {
  color: #fff;
  background-color: $primaryColor;
  border-color: $primaryColor;
  height: 50px;
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 14px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c73025;
  border-color: #c73025;
}
.btn-primary:active {
  background-color: #c73025;
  border-color: #c73025;
}
.btn-primary:hover {
    color: #fff;
    background-color: $primaryColor;
    border-color: $primaryColor;
}

.schedule-buttons {
  .btn {
    padding: .8rem 1.5rem;
    border-radius: 5px;
    line-height: unset;
    box-shadow: 0 0 8px rgba(0, 0, 0, .12);
    color: $primaryColor;
    font: {
      weight: 700;
      size: 13px;
    }
  }
  .btn-primary {
    height: unset;
    box-shadow: none;
    color: #FFF;
  }
}

.radio-label {
  align-items: center;
  background-color: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 20px 20px 20px 65px;
  position: relative;
  transition: .3s ease all;
  width: 100%;
  flex-wrap: wrap;
}
.radio-label span:last-child {
  padding: 0 0 0 20px;
}
.radio-label:hover {
  background-color: rgba(255,255,255,0.2);   
}
.radio-label:focus {
  outline: none;
}
.radio-label:before {
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #e4e0e0;
  border-radius: 50%;
  content:'';
  height: 21px;
  left: 20px;
  position: absolute;
  transition: .3s ease background-color;
  width: 21px;
}
.radio-label span {
  user-select: none;
  color: #3C464E;
  font: {
    weight: 500;
    size: 15px;
  }
}
.radio-label p {
  display: block;
  font-weight: 500;
  color: #989898;
  margin-top: 10px;
  font: {
    size: 13px;
  }
}
.radio-btn {
  position: absolute;
  visibility: hidden;
}
.radio-btn:checked + .radio-label {
  background-color: white;
  border-color: #a4d2ff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.radio-btn:checked + .radio-label:before {
  background-color: #2E8FFF;
  background-image: url('data:image/svg+xml;utf8,<svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3052 0.351731C10.6957 0.742255 10.6957 1.37542 10.3052 1.76595L5.12134 6.94977C4.90417 7.16694 4.61195 7.26334 4.32816 7.23897C4.04454 7.26317 3.75257 7.16675 3.53554 6.94972L0.707108 4.12129C0.316584 3.73077 0.316584 3.0976 0.707108 2.70708C1.09763 2.31655 1.7308 2.31655 2.12132 2.70708L4.32846 4.91422L8.89095 0.351731C9.28147 -0.0387932 9.91464 -0.0387932 10.3052 0.351731Z" fill="white"/></svg>');
  border-color: #2E8FFF;
}


.offer-details-block {
  border-bottom: 0;
  @media (min-width: 575px) {
    flex: 0 0 370px;
    max-width: 370px;
  }
}


.title {
  color: #282828;
  font: {
    weight: 600;
    size: 18px;
  }
}

.title-bigger {
  color: #262D3D;
  font: {
    weight: 500;
    size: 24px;
  }
}

.offer-details {
  p {
    color: #7E7E7E;
    font: {
      size: 14px;
      weight: 500;
    }
    line-height: 22px;
  }
  .features-list {
    .list-item {
      display: -webkit-box;
      &::before {
        content: '';
        display: flex;
        width: 7px;
        height: 7px;
        background: $primaryColor;
        border-radius: 100px;
        margin-top: 6px;
        position: absolute;
        left: 13px;
      }
      span {
        color: #686868;
        font: {
          size: 13px;
          weight: 300;
        }
        line-height: 21px;
      }
    }
  }
}

.lesson {
  box-shadow: 0 0 8px rgba(0, 0, 0, .08);
  margin-top: 37px;
  border-radius: 5px;
}

.lesson-title {
  color: #000;
  font: {
    size: 19px;
  }
}

.lesson-info p {
  color: #4C566B;
  font: {
    size: 14px;
  }
}

.input-group-text {
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #FBFCFD;
  border: 1px solid #EEF2F6;
  border-radius: .25rem;
}

.lesson-schedule .input-group .form-control {
  height: 47px;
  font-size: 13px;
  color: #323C47;
  border: 1px solid #EEF2F6;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  .footer-info {
    border-top: 1px solid #EEF1F6;
    span {
      color: #282828;
      font: {
        size: 15px;
        weight: 300;
      }
      line-height: 23px;
    }
  }
}


@include media-breakpoint-only(md) {
  .block {
    padding: 40px;
  }
  .main-block {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .offer-main-block {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .list-item span {
    flex: 0 0 85%;
    max-width: 85%;
  }
  .form-group label {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
}

@media (max-width: 992px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@include media-breakpoint-down(sm) {
  .block {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    &.border-left {
      border-left: none !important;
    }
  }
  .checkout-container {
    border: none !important;
  }
  .content {
    padding: 3rem 0 0 0 !important;
    margin: 0 !important;
  }
  .main-block, .offer-main-block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .main-block {
    order: 2;
  }
  .offer-main-block {
    border-bottom: 2px solid #f3f3f3 !important;
  }
  .form-groups {
    margin-top: 2.25rem!important;
  }
  .offer-main-block img {
    width: 60%;
  }
  .form-group label {
    margin-bottom: .75rem;
  }
  .buy-button {
    padding: 0 !important;
  }
}

@media (max-width: 500px) {
  .coupon-code {
    flex-wrap: wrap;
    .coupon-code-button {
      margin-top: 1rem;
      padding-left: 0 !important;
      button {
        width: unset !important;
        padding: 0 25px;
      }
    }
  }
}

@media (max-width: 435px) {
  .order-summary-table table {
    width: 350px;
  }
}

@include media-breakpoint-down(xs) {
  .block {
    padding: 2rem;
  }
  .offer-main-block img {
    width: 100%;
  }
}


.responsive-calendar {
  border: 1px solid #F5F5F5;
  border-radius: 5px;
}


.responsive-calendar .controls {
  border-bottom: 1px solid #f5f5f5;
  padding: 1.4rem;
}

.responsive-calendar .controls a {
  cursor: pointer
}

.responsive-calendar .controls h4 {
  display: inline
}

.responsive-calendar .day-headers,.responsive-calendar .days {
  font-size: 0
}

.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}

.responsive-calendar .day a {
  color: #545454;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
  font-size: 14px;
}

.responsive-calendar .day a:hover {
  background-color: #f5f5f5;
  text-decoration: none
}

.responsive-calendar .day-headers {
  padding: 1.5rem .4rem;
  font-weight: 500;
}

.responsive-calendar .day.header {
  border-bottom: 0;
}

.responsive-calendar .day.active a {
  background-color: #1d86c8;
  color: #fff
}

.responsive-calendar .day.active a:hover {
  background-color: #36a0e2
}

.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #fff
}

.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5
}

.responsive-calendar .day.not-current a {
  color: #d4d4d4
}

.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1
}


.appointments .list-group-item {
  background: 0 !important;
  padding: 0;
  border: none;
  color: #7E7E7E;
  font-size: 14px;
}

.appointments .list-group-item span {
  color: #7e7e7e;
  line-height: 21px;
  font-weight: 500;
}

.appointments .alert {
  background: #fff0f0!important;
  padding: 0;
  border: none;
  color: #E84035;
  padding: 20px;
  border-radius: 6px;
  font-weight: 500;
  margin-top: 1.4rem;
}

.appointment-information {
  color: #7E7E7E;
  font: {
    weight: 500;
    size: 13px;
  }
}

.title2 {
  color: #7e7e7e;
  line-height: 21px;
  font-weight: 500;
  font-size: 14px;
}
