@import '../bootstrap/scss/bootstrap';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'reset';

@include scrollbars(13px, $primaryColor, #FFF);

body {
  background: $lightBg;
}

.header {
  background: #FFF;
  border-bottom: 1px solid #EEF1F6;
}

.logo {
  img {
    height: 62px;
  }
}

.container {
  max-width: 1030px !important;
}

.checkout-container {
  border: 1px solid #EEEFEF;
}

.block {
  padding: 50px;
  border-bottom: 2px solid #F3F3F3;
  &.border-left {
    border-left: 1px solid #EEEFEF !important;
  }

}

.details-block {
  @include media-breakpoint-up(xl) {
    flex: 0 0 628px;
    max-width: 628px;
  }

  .form-group {
    margin-bottom: 1.5rem;
    label {
      color: #7E7E7E;
      line-height: 21px;
      font: {
        size: 14px;
        weight: 500;
      }
    }
    textarea {
      min-height: 130px;
    }
    .form-control {
      border-color: #E9E9E9;
      height: 50px;
      border-radius: 6px;
      padding: 0 17px;
      color: #7E7E7E;
      font-family: "Montserrat";
      font-size: 14px;
      &::placeholder {
        color: #b3b3b3;
        opacity: 1;
      }
      
      &:-ms-input-placeholder {
        color: #b3b3b3;
      }
      
      &::-ms-input-placeholder {
        color: #b3b3b3;
      }
    }
  }

  .custom-control {
    line-height: 26px;
    border-top: 1px solid #F4F4F4;
    padding: 20px 20px 20px 30px;
    .custom-control-label {
      &::before {
        border: #E1E1E1 solid 2px;
        border-radius: 4px;
        width: 18px;
        height: 18px;
      }
      &::after {
        top: .3rem;
        left: -1.4rem;
      }
      color: #7E7E7E;
      font: {
        size: 13px;
        weight: 500;
      }
    }
    input {
      left: .44rem;
      top: 1.4rem;
    }
    input:focus {
      border: 0;
    }
    .custom-control-input:checked~.custom-control-label::before {
      color: #fff;
      border-color: $primaryColor;
      background-color: $primaryColor;
    }
  }

  input:focus + label::before {
    outline: none;
    outline: 0px !important;
    -webkit-appearance:none !important;
  
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .order-summary-table {
    border: 1px solid #F4F4F4;
    border-radius: 8px;
    .thead-light {
      th {
        color: #7E7E7E;
        background-color: #F8F8F8;
        border: none;
        font: {
          weight: 600;
          size: 13px;
        }
      }
    }
    td {
      color: #5d5b6b;
      font: {
        weight: 300;
        size: 13px;
      }
    }
    td, th {
      border-color: #F4F4F4;
      padding: 1.2rem 1.5rem;
    }
    .total td {
      color: #252430;
      font-weight: 600;
    }
  }

  .btn-primary {
    color: #fff;
    background-color: $primaryColor;
    border-color: $primaryColor;
    height: 50px;
    border-radius: 8px;
    font-family: "Montserrat";
    font-size: 14px;
  }

  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c73025;
    border-color: #c73025;
  }
  .btn-primary:hover {
      color: #fff;
      background-color: $primaryColor;
      border-color: $primaryColor;
  }
}

.radio-label {
  align-items: center;
  background-color: none;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 20px 20px 20px 65px;
  position: relative;
  transition: .3s ease all;
  width: 100%;
  flex-wrap: wrap;
}
.radio-label span:last-child {
  padding: 0 0 0 20px;
}
.radio-label:hover {
  background-color: rgba(255,255,255,0.2);   
}
.radio-label:focus {
  outline: none;
}
.radio-label:before {
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #e4e0e0;
  border-radius: 50%;
  content:'';
  height: 21px;
  left: 20px;
  position: absolute;
  transition: .3s ease background-color;
  width: 21px;
}
.radio-label span {
  user-select: none;
  color: #3C464E;
  font: {
    weight: 500;
    size: 15px;
  }
}
.radio-label p {
  display: block;
  font-weight: 500;
  color: #989898;
  margin-top: 10px;
  font: {
    size: 13px;
  }
}
.radio-btn {
  position: absolute;
  visibility: hidden;
}
.radio-btn:checked + .radio-label {
  background-color: white;
  border-color: #a4d2ff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.radio-btn:checked + .radio-label:before {
  background-color: #2E8FFF;
  background-image: url('data:image/svg+xml;utf8,<svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3052 0.351731C10.6957 0.742255 10.6957 1.37542 10.3052 1.76595L5.12134 6.94977C4.90417 7.16694 4.61195 7.26334 4.32816 7.23897C4.04454 7.26317 3.75257 7.16675 3.53554 6.94972L0.707108 4.12129C0.316584 3.73077 0.316584 3.0976 0.707108 2.70708C1.09763 2.31655 1.7308 2.31655 2.12132 2.70708L4.32846 4.91422L8.89095 0.351731C9.28147 -0.0387932 9.91464 -0.0387932 10.3052 0.351731Z" fill="white"/></svg>');
  border-color: #2E8FFF;
}


.offer-details-block {
  border-bottom: 0;
  @media (min-width: 575px) {
    flex: 0 0 370px;
    max-width: 370px;
  }
}


.title {
  color: #282828;
  font: {
    weight: 600;
    size: 18px;
  }
}

.offer-details {
  p {
    color: #7E7E7E;
    font: {
      size: 14px;
      weight: 500;
    }
    line-height: 22px;
  }
  .features-list {
    .list-item {
      display: -webkit-box;
      &::before {
        content: '';
        display: flex;
        width: 7px;
        height: 7px;
        background: $primaryColor;
        border-radius: 100px;
        margin-top: 6px;
        margin-right: 13px;
      }
      span {
        color: #989898;
        font: {
          size: 13px;
          weight: 300;
        }
        line-height: 21px;
      }
    }
  }
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  .footer-info {
    border-top: 1px solid #EEF1F6;
    span {
      color: #282828;
      font: {
        size: 15px;
        weight: 300;
      }
      line-height: 23px;
    }
  }
}


@include media-breakpoint-only(md) {
  .block {
    padding: 40px;
  }
  .details-block {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .offer-details-block {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .list-item span {
    flex: 0 0 85%;
    max-width: 85%;
  }
  .form-group label {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
}

@media (max-width: 992px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@include media-breakpoint-down(sm) {
  .details-block, .offer-details-block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .details-block {
    order: 2;
  }
  .offer-details-block {
    border-bottom: 2px solid #f3f3f3 !important;
  }
  .form-groups {
    margin-top: 2.25rem!important;
  }
  .offer-details-block img {
    width: 60%;
  }
  .form-group label {
    margin-bottom: .75rem;
  }
  .buy-button {
    padding: 0 !important;
  }
}

@media (max-width: 500px) {
  .order-summary-table table {
    width: 340px;
  }
}

@include media-breakpoint-down(xs) {
  .block {
    padding: 2rem;
  }
  .offer-details-block img {
    width: 100%;
  }
}